<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger" style="background-color: #e3b04b;">
            <div class="container">
              <div class="row">
                <div class="col">
                  <i
                    class="material-icons"
                    style="font-size: 36px; vertical-align: middle"
                    >today</i
                  >
                  <h2
                    class="card-title"
                    style="
                      font-family: 'Brush Script MT', cursive;
                      display: inline-block;
                      margin-left: 40px;
                    "
                  >
                    <strong>January 2024</strong>
                  </h2>
                </div>
                <div class="col">
                  <h2
                    class="card-title"
                    style="
                      font-family: 'Brush Script MT', cursive;
                      display: inline-block;
                      color: bisque;
                    "
                    contentEditable="true"
                  >
                    <strong>Put your quote of the month</strong>
                  </h2>
                </div>
              </div>
            </div>
            <div></div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <!-- Lets work here -->
              <ul>
                <li>
                  <time datetime="2022-02-01">
                    <strong class="nbr">1</strong> </time
                  >Dark Chocolate Day
                </li>
                <li>
                  <time datetime="2022-02-02"
                    ><strong class="nbr">2</strong></time
                  >Groundhog Day
                </li>
                <li>
                  <time datetime="2022-02-03"
                    ><strong class="nbr">3</strong></time
                  >Carrot Cake Day
                </li>
                <li>
                  <time datetime="2022-02-04"
                    ><strong class="nbr">4</strong></time
                  >Wear Red Day
                </li>
                <li>
                  <time datetime="2022-02-05"
                    ><strong class="nbr">5</strong></time
                  >Weatherperson's Day
                </li>
                <li>
                  <time datetime="2022-02-06"
                    ><strong class="nbr">6</strong></time
                  >Chopsticks Day
                </li>
                <li>
                  <time datetime="2022-02-07"
                    ><strong class="nbr">7</strong></time
                  >Periodic Table Day
                </li>
                <li>
                  <time datetime="2022-02-08"
                    ><strong class="nbr">8</strong></time
                  >Kite Flying Day
                </li>
                <li>
                  <time datetime="2022-02-09"
                    ><strong class="nbr">9</strong></time
                  >Pizza Day
                </li>
                <li>
                  <time datetime="2022-02-10"
                    ><strong class="nbr">10</strong></time
                  >Umbrella Day
                </li>
                <li>
                  <time datetime="2022-02-11"
                    ><strong class="nbr">11</strong></time
                  >Inventor's Day
                </li>
                <li>
                  <time datetime="2022-02-12"
                    ><strong class="nbr">12</strong></time
                  >Global Movie Day
                </li>
                <li>
                  <time datetime="2022-02-13"
                    ><strong class="nbr">13</strong></time
                  >Tortellini Day
                </li>
                <li>
                  <time datetime="2022-02-14"
                    ><strong class="nbr">14</strong></time
                  >Valentine's Day
                </li>
                <li>
                  <time datetime="2022-02-15"
                    ><strong class="nbr">15</strong></time
                  >Gumdrop Day
                </li>
                <li>
                  <time datetime="2022-02-16"
                    ><strong class="nbr">16</strong></time
                  >Do a Grouch a Favor Day
                </li>
                <li>
                  <time datetime="2022-02-17"
                    ><strong class="nbr">17</strong></time
                  >Cabbage Day
                </li>
                <li>
                  <time datetime="2022-02-18"
                    ><strong class="nbr">18</strong></time
                  >Battery Day
                </li>
                <li>
                  <time datetime="2022-02-19"
                    ><strong class="nbr">19</strong></time
                  >Chocolate Mint Day
                </li>
                <li>
                  <time datetime="2022-02-20"
                    ><strong class="nbr">20</strong></time
                  >Love Your Pet Day
                </li>
                <li>
                  <time datetime="2022-02-21"
                    ><strong class="nbr">21</strong></time
                  >President's Day
                </li>
                <li>
                  <time datetime="2022-02-22"
                    ><strong class="nbr">22</strong></time
                  >Cook a Sweet Potato Day
                </li>
                <li>
                  <time datetime="2022-02-23"
                    ><strong class="nbr">23</strong></time
                  >Tile Day
                </li>
                <li>
                  <time datetime="2022-02-24"
                    ><strong class="nbr">24</strong></time
                  >Toast Day
                </li>
                <li>
                  <time datetime="2022-02-25"
                    ><strong class="nbr">25</strong></time
                  >Clam Chowder Day
                </li>
                <li>
                  <time datetime="2022-02-26"
                    ><strong class="nbr">26</strong></time
                  >Pistachio Day
                </li>
                <li>
                  <time datetime="2022-02-27"
                    ><strong class="nbr">27</strong></time
                  >Polar Bear Day
                </li>
                <li>
                  <time datetime="2022-02-28"
                    ><strong class="nbr">28</strong></time
                  >Tooth Fairy Day
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
